Subject: Your {{ BRAND }} account has been suspended

Hello {{ FIRST_NAME }},

Your {{ BRAND }} account has been suspended and can no longer be used to sign in.

If you believe this was done in error, or you would like more information, contact us at {{ BRAND_SUPPORT_EMAIL }}.

Best regards,
Team {{ BRAND }}
