Subject: {{ INVITER_NAME }} has invited you to join {{ BRAND }} as an admin

Hello{% if FIRST_NAME %} {{ FIRST_NAME }}{% endif %},

{{ INVITER_NAME }} has invited you to join the {{ BRAND }} admin team as a {{ ADMIN_ROLE }} admin.
Follow the link <a href="{{ LINK }}">{{ LINK }}</a> to accept the invitation.

This link will expire in: {{ VALIDITY }}

If you weren't expecting this invitation, you can ignore this email.

Best regards,
Team {{ BRAND }}
