Subject: {{ FULL_NAME }} Has Invited you to Join {{ BRAND }} as an Admin

Hello {{ FIRST_NAME }},

{{ FULL_NAME }} Has Invited you to Join {{ BRAND }} as an Admin.
Follow the link <a href="{{ LINK }}">{{ LINK }}</a> to complete your onboarding.

This link will expire in: {{ VALIDITY}}

Best regards,
Team {{ BRAND }}