Subject: Reset your {{ BRAND }} password

Hello {{ FIRST_NAME }},

<p>You asked to reset your {{ BRAND }} password.</p>
<p><a href='{{ LINK }}'>Reset your password</a></p>
<p>This link expires in {{ VALIDITY }}.</p>

If you did not initiate this action, please reset your password or contact our
customer support on {{ BRAND_SUPPORT_EMAIL }} or {{ BRAND_SUPPORT_PHONE }} as your account might have been compromised.

Best regards,
Team {{ BRAND }}