Hello {{ FIRST_NAME }},

We notice a recent login on your {{ BRAND }} account from a new location.

If you did not initiate this action, please reset your password or contact our
customer support on {{ BRAND_SUPPORT_EMAIL }} or {{ BRAND_SUPPORT_PHONE }} as your account might have been compromised.

Best regards,
Team {{ BRAND }}